In [2]:
# Write a python program to store all the programming languages known to you usingSet.
s={eval(e) for e in input("Enter the programing launguage you know seprated by comma").split(",")}
print(s)

Enter the programing launguage you know seprated by comma"c","java","python"
{'python', 'c', 'java'}

In [6]:
# Write a python program to store your own information {name, age, gender, so on..}
s={eval(e) for e in input("Enter your infotmation seprated by comma").split(",")}
if type(s)==str:
    print("Name is",s)
else:
    print("Age is",s)

Enter your infotmation seprated by comma"vaibhav",26
Age is {26, 'vaibhav'}

In [3]:
# Write a python script to get the data type of a Set.
a={eval(e) for e in input("Enter the elements:").split(",")}
print(type(a))

Enter the elements:1,2,3,43
<class 'set'>

In [4]:
'''Write a python program to add items from another set to the current set. thisset =
{"Java", "Python", "SQL"}'''
s1={"Java","Python","SQL"}
s2={"Vaibhav","Kavita"}
s1.add("Vaibhav")
print(s1)

{'Python', 'Java', 'SQL', 'Vaibhav'}

In [11]:
'''Write a Python script to find if “Python” is present in the set thisset = {"Java",
"Python", "Django"}'''
s1 = {"Java","Python","Django"}
s1.pop()

'Python'

In [15]:
'''Write a python program to add elements of list to a set
thisset = {"Python", "Django", "JavaScript"}
mylist = ["Java", "C"]'''
s1= {"Python", "Django", "JavaScript"}
mylist = ["Java", "C"]

'''here in update function the iterable elements does'nt count an element while the elements under the
iterable will count element in the set'''

s1.update(["Java","C"]) 
print(s1)

{'C', 'Django', 'Java', 'Python', 'JavaScript'}

In [18]:
'''Write a python program to remove last item of the given set
thisset = {"Python", "Django", "JavaScript", “SQL”}'''
s1={"Python", "Django", "JavaScript", "SQL"}
s1.remove("SQL")
print(s1)

{'Python', 'JavaScript', 'Django'}

In [19]:
# Write a python program to delete the set completely.
a={"AA","B","C"}
a.clear()
print(a)

set()

In [20]:
'''Write a python program to loop through the set and print values
thisset = {"Python", "Django", "JavaScript", “SQL”}'''
s1={"Python","Django","Javascript","SQL"}
for e in s1:
    print(e)

Python
Django
SQL
Javascript

In [22]:
# Write a python program to find the maximum and minimum value in a set.
x={eval(e) for e in input("Enter some elements seprated by comma:").split(",")}
print("Minimum value is:",min(x),"Maximum value is:",max(x))

Enter some elements seprated by comma:1,2,3,4
Minimum value is: 1 Maximum value is: 4